# DeepMatch 样例代码
- https://github.com/shenweichen/DeepMatch
- https://deepmatch.readthedocs.io/en/latest/

# 下载movielens-1M数据 安装依赖包

In [1]:
! wget http://files.grouplens.org/datasets/movielens/ml-1m.zip -O ./ml-1m.zip 
! wget https://raw.githubusercontent.com/shenweichen/DeepMatch/master/examples/preprocess.py -O preprocess.py
! unzip -o ml-1m.zip 
! pip install -q deepmatch

--2021-07-04 12:57:19--  http://files.grouplens.org/datasets/movielens/ml-1m.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5917549 (5.6M) [application/zip]
Saving to: ‘./ml-1m.zip’

./ml-1m.zip         100%[===================>]   5.64M  27.8MB/s    in 0.2s

2021-07-04 12:57:19 (27.8 MB/s) - ‘./ml-1m.zip’ saved [5917549/5917549]

--2021-07-04 12:57:19--  https://raw.githubusercontent.com/shenweichen/DeepMatch/master/examples/preprocess.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5642 (5.5K) [text/plain]
Saving to: ‘preprocess.py’

preprocess.py       100%[===================>]   5.51K  --.-KB/s    in 0s

2021-07-04 12:57:19 (72.4 MB/s) - ‘preprocess.py’ saved [5642/5642]

Archive:  ml-1m.zip
   creating: ml-1m/
  inflating: ml-1m/movies.dat
  inflating: ml-1m/ratings.dat
  inflating: ml-1m/README
  inflating: ml-1m/users.dat
     |████████████████████████████████| 112kB 41.5MB/s

# 导入需要的库

In [2]:
! pip install tensorflow-gpu
! pip install tensorflow

Collecting tensorflow-gpu
  Downloading https://files.pythonhosted.org/packages/1d/a2/5ccf0a418eb22e0a2ae9edc1e7f5456d0a4b8b49524572897564b4030a9b/tensorflow_gpu-2.5.0-cp37-cp37m-manylinux2010_x86_64.whl (454.3MB)
     |████████████████████████████████| 454.3MB 38kB/s
Requirement already satisfied: numpy~=1.19.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.19.5)
Requirement already satisfied: flatbuffers~=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.12)
Requirement already satisfied: astunparse~=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.6.3)
Requirement already satisfied: absl-py~=0.10 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (0.12.0)
Requirement already satisfied: wrapt~=1.12.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.12.1)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (3.12.4)
Requirement already satisfied: opt-einsum~=3.3.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (3.3.0)
Requirement already satisfied: h5py~=3.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (3.1.0)
Requirement already satisfied: wheel~=0.35 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (0.36.2)
Requirement already satisfied: gast==0.4.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (0.4.0)
Requirement already satisfied: keras-preprocessing~=1.1.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.1.2)
Requirement already satisfied: six~=1.15.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.15.0)
Requirement already satisfied: grpcio~=1.34.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.34.1)
Requirement already satisfied: google-pasta~=0.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (0.2.0)
Requirement already satisfied: typing-extensions~=3.7.4 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (3.7.4.3)
Requirement already satisfied: termcolor~=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.1.0)
Requirement already satisfied: keras-nightly~=2.5.0.dev in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (2.5.0.dev2021032900)
Requirement already satisfied: tensorboard~=2.5 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (2.5.0)
Requirement already satisfied: tensorflow-estimator<2.6.0,>=2.5.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (2.5.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.9.2->tensorflow-gpu) (57.0.0)
Requirement already satisfied: cached-property; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from h5py~=3.1.0->tensorflow-gpu) (1.5.2)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow-gpu) (0.4.4)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow-gpu) (1.0.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow-gpu) (0.6.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow-gpu) (3.3.4)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow-gpu) (1.31.0)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow-gpu) (2.23.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow-gpu) (1.8.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.5->tensorflow-gpu) (1.3.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard~=2.5->tensorflow-gpu) (4.5.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.5->tensorflow-gpu) (4.2.2)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.5->tensorflow-gpu) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.5->tensorflow-gpu) (0.2.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.5->tensorflow-gpu) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.5->tensorflow-gpu) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.5->tensorflow-gpu) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.5->tensorflow-gpu) (1.24.3)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.5->tensorflow-gpu) (3.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard~=2.5->tensorflow-gpu) (3.4.1)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.7/dist-packages (from rsa<5,>=3.1.4; python_version >= "3.6"->google-auth<2,>=1.6.3->tensorboard~=2.5->tensorflow-gpu) (0.4.8)
Installing collected packages: tensorflow-gpu
Successfully installed tensorflow-gpu-2.5.0
Requirement already satisfied: tensorflow in /usr/local/lib/python3.7/dist-packages (2.5.0)
Requirement already satisfied: keras-preprocessing~=1.1.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.2)
Requirement already satisfied: wrapt~=1.12.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.12.1)
Requirement already satisfied: numpy~=1.19.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.19.5)
Requirement already satisfied: astunparse~=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers~=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.12)
Requirement already satisfied: tensorflow-estimator<2.6.0,>=2.5.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.5.0)
Requirement already satisfied: six~=1.15.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.15.0)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.12.4)
Requirement already satisfied: grpcio~=1.34.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.34.1)
Requirement already satisfied: h5py~=3.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.1.0)
Requirement already satisfied: gast==0.4.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.4.0)
Requirement already satisfied: termcolor~=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.0)
Requirement already satisfied: wheel~=0.35 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.36.2)
Requirement already satisfied: keras-nightly~=2.5.0.dev in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.5.0.dev2021032900)
Requirement already satisfied: tensorboard~=2.5 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.5.0)
Requirement already satisfied: opt-einsum~=3.3.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: google-pasta~=0.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: absl-py~=0.10 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.12.0)
Requirement already satisfied: typing-extensions~=3.7.4 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.7.4.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.9.2->tensorflow) (57.0.0)
Requirement already satisfied: cached-property; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from h5py~=3.1.0->tensorflow) (1.5.2)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow) (3.3.4)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow) (1.31.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow) (1.0.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow) (0.6.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow) (0.4.4)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow) (2.23.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow) (1.8.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard~=2.5->tensorflow) (4.5.0)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.5->tensorflow) (4.7.2)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.5->tensorflow) (4.2.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.5->tensorflow) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.5->tensorflow) (1.3.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.5->tensorflow) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.5->tensorflow) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.5->tensorflow) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.5->tensorflow) (3.0.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard~=2.5->tensorflow) (3.4.1)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.7/dist-packages (from rsa<5,>=3.1.4; python_version >= "3.6"->google-auth<2,>=1.6.3->tensorboard~=2.5->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.5->tensorflow) (3.1.1)

In [3]:
import pandas as pd

from deepctr.feature_column import SparseFeat, VarLenSparseFeat
from preprocess import gen_data_set, gen_model_input
from sklearn.preprocessing import LabelEncoder
from tensorflow.python.keras import backend as K
from tensorflow.python.keras.models import Model

from deepmatch.models import *
from deepmatch.utils import sampledsoftmaxloss

WARNING:root:
DeepCTR version 0.8.6 detected. Your version is 0.8.2.
Use `pip install -U deepctr` to upgrade.Changelog: https://github.com/shenweichen/DeepCTR/releases/tag/v0.8.6

# 读取数据

In [4]:
data_path = "./"

unames = ['user_id','gender','age','occupation','zip']
user = pd.read_csv(data_path+'ml-1m/users.dat',sep='::',header=None,names=unames)
rnames = ['user_id','movie_id','rating','timestamp']
ratings = pd.read_csv(data_path+'ml-1m/ratings.dat',sep='::',header=None,names=rnames)
mnames = ['movie_id','title','genres']
movies = pd.read_csv(data_path+'ml-1m/movies.dat',sep='::',header=None,names=mnames)

data = pd.merge(pd.merge(ratings,movies),user)#.iloc[:10000]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

# 构建特征列，训练模型，导出embedding

In [5]:
data.head()

   user_id  movie_id  rating  timestamp  ... gender age occupation    zip
0        1      1193       5  978300760  ...      F   1         10  48067
1        1       661       3  978302109  ...      F   1         10  48067
2        1       914       3  978301968  ...      F   1         10  48067
3        1      3408       4  978300275  ...      F   1         10  48067
4        1      2355       5  978824291  ...      F   1         10  48067

[5 rows x 10 columns]

In [6]:
#data = pd.read_csvdata = pd.read_csv("./movielens_sample.txt")
sparse_features = ["movie_id", "user_id",
                    "gender", "age", "occupation", "zip", ]
SEQ_LEN = 50
negsample = 0

# 1.Label Encoding for sparse features,and process sequence features with `gen_date_set` and `gen_model_input`

features = ['user_id', 'movie_id', 'gender', 'age', 'occupation', 'zip']
feature_max_idx = {}
for feature in features:
    lbe = LabelEncoder()
    data[feature] = lbe.fit_transform(data[feature]) + 1
    feature_max_idx[feature] = data[feature].max() + 1

In [7]:
data.head()

   user_id  movie_id  rating  timestamp  ... gender age  occupation   zip
0        1      1105       5  978300760  ...      1   1          11  1589
1        1       640       3  978302109  ...      1   1          11  1589
2        1       854       3  978301968  ...      1   1          11  1589
3        1      3178       4  978300275  ...      1   1          11  1589
4        1      2163       5  978824291  ...      1   1          11  1589

[5 rows x 10 columns]

In [8]:
user_profile = data[["user_id", "gender", "age", "occupation", "zip"]].drop_duplicates('user_id')

item_profile = data[["movie_id"]].drop_duplicates('movie_id')

In [9]:
user_profile.set_index("user_id", inplace=True)

In [10]:
data.head()

   user_id  movie_id  rating  timestamp  ... gender age  occupation   zip
0        1      1105       5  978300760  ...      1   1          11  1589
1        1       640       3  978302109  ...      1   1          11  1589
2        1       854       3  978301968  ...      1   1          11  1589
3        1      3178       4  978300275  ...      1   1          11  1589
4        1      2163       5  978824291  ...      1   1          11  1589

[5 rows x 10 columns]

In [11]:
user_item_list = data.groupby("user_id")['movie_id'].apply(list)

In [12]:
user_item_list[:10]

user_id
1     [1105, 640, 854, 3178, 2163, 1108, 1196, 2600,...
2     [1105, 2890, 2129, 1783, 1118, 1849, 1155, 126...
3     [2163, 1108, 1179, 1782, 254, 2899, 628, 1121,...
4     [1026, 2489, 254, 1849, 3236, 1121, 467, 1107,...
5     [3178, 2163, 859, 2890, 1575, 2558, 145, 2489,...
6     [854, 3178, 582, 971, 2129, 48, 1440, 575, 1, ...
7     [1179, 1849, 628, 2709, 3342, 2892, 1479, 3033...
8     [2890, 514, 1575, 2970, 1659, 145, 1, 2489, 18...
9     [3178, 2163, 690, 514, 1575, 709, 2103, 2558, ...
10    [854, 3178, 2163, 1108, 1196, 2600, 581, 859, ...
Name: movie_id, dtype: object

In [13]:
for idx, (reviewerID, hist) in enumerate(data.groupby('user_id')):
  if idx > 10:
    break
  print(hist)

    user_id  movie_id  rating  timestamp  ... gender age  occupation   zip
0         1      1105       5  978300760  ...      1   1          11  1589
1         1       640       3  978302109  ...      1   1          11  1589
2         1       854       3  978301968  ...      1   1          11  1589
3         1      3178       4  978300275  ...      1   1          11  1589
4         1      2163       5  978824291  ...      1   1          11  1589
5         1      1108       3  978302268  ...      1   1          11  1589
6         1      1196       5  978302039  ...      1   1          11  1589
7         1      2600       5  978300719  ...      1   1          11  1589
8         1       581       4  978302268  ...      1   1          11  1589
9         1       859       4  978301368  ...      1   1          11  1589
10        1       582       5  978824268  ...      1   1          11  1589
11        1       878       4  978301752  ...      1   1          11  1589
12        1      2206       4  978302281  ...      1   1          11  1589
13        1      2711       4  978302124  ...      1   1          11  1589
14        1       971       5  978301753  ...      1   1          11  1589
15        1      2587       4  978302188  ...      1   1          11  1589
16        1      2484       3  978824268  ...      1   1          11  1589
17        1      1839       4  978301777  ...      1   1          11  1589
18        1      2890       5  978301713  ...      1   1          11  1589
19        1      2593       4  978302039  ...      1   1          11  1589
20        1      2129       3  978302205  ...      1   1          11  1589
21        1       690       3  978300760  ...      1   1          11  1589
22        1      1179       5  978300055  ...      1   1          11  1589
23        1       514       5  978824195  ...      1   1          11  1589
24        1      2148       3  978300103  ...      1   1          11  1589
25        1        48       5  978824351  ...      1   1          11  1589
26        1      1026       4  978301953  ...      1   1          11  1589
27        1      1575       4  978300055  ...      1   1          11  1589
28        1      1422       4  978824139  ...      1   1          11  1589
29        1       709       3  978824268  ...      1   1          11  1589
30        1      2103       4  978824291  ...      1   1          11  1589
31        1      2970       4  978300019  ...      1   1          11  1589
32        1      1440       4  978824330  ...      1   1          11  1589
33        1       575       4  978824268  ...      1   1          11  1589
34        1      1728       4  978824330  ...      1   1          11  1589
35        1       741       4  978824291  ...      1   1          11  1589
36        1      1659       5  978300172  ...      1   1          11  1589
37        1       958       5  978300055  ...      1   1          11  1589
38        1      2558       4  978302091  ...      1   1          11  1589
39        1       145       5  978301777  ...      1   1          11  1589
40        1         1       5  978824268  ...      1   1          11  1589
41        1      1782       5  978301590  ...      1   1          11  1589
42        1      1783       4  978301753  ...      1   1          11  1589
43        1      2489       4  978301570  ...      1   1          11  1589
44        1       254       4  978300760  ...      1   1          11  1589
45        1       964       5  978301777  ...      1   1          11  1589
46        1       965       5  978302205  ...      1   1          11  1589
47        1      1118       4  978300719  ...      1   1          11  1589
48        1      1849       5  978301619  ...      1   1          11  1589
49        1       518       4  978302149  ...      1   1          11  1589
50        1      2899       4  978302174  ...      1   1          11  1589
51        1       594       4  978301398  ...      1   1          11  1589
52        1      1155       4  978302091  ...      1   1          11  1589

[53 rows x 10 columns]
     user_id  movie_id  rating  timestamp  ... gender age  occupation   zip
53         2      1105       5  978298413  ...      2   7          17  2249
54         2      2890       4  978298673  ...      2   7          17  2249
55         2      2129       3  978299666  ...      2   7          17  2249
56         2      1783       5  978298813  ...      2   7          17  2249
57         2      1118       4  978298478  ...      2   7          17  2249
..       ...       ...     ...        ...  ...    ...  ..         ...   ...
177        2      1153       3  978299143  ...      2   7          17  2249
178        2       347       5  978299686  ...      2   7          17  2249
179        2      1154       2  978299200  ...      2   7          17  2249
180        2      3648       1  978299535  ...      2   7          17  2249
181        2      1156       5  978298652  ...      2   7          17  2249

[129 rows x 10 columns]
        user_id  movie_id  rating  timestamp  ... gender age  occupation   zip
699581        3      2163       5  978298430  ...      2   3          16  1864
699582        3      1108       5  978297570  ...      2   3          16  1864
699583        3      1179       3  978298231  ...      2   3          16  1864
699584        3      1782       4  978297095  ...      2   3          16  1864
699585        3       254       5  978297512  ...      2   3          16  1864
699586        3      2899       3  978298103  ...      2   3          16  1864
699587        3       628       3  978297867  ...      2   3          16  1864
699588        3      1121       4  978297600  ...      2   3          16  1864
699589        3      1168       5  978298296  ...      2   3          16  1864
699590        3      2652       4  978297039  ...      2   3          16  1864
699591        3       467       4  978297690  ...      2   3          16  1864
699592        3      1174       2  978298316  ...      2   3          16  1864
699593        3       577       4  978297439  ...      2   3          16  1864
699594        3      1107       4  978297539  ...      2   3          16  1864
699595        3      1109       5  978297570  ...      2   3          16  1864
699596        3       580       3  978297018  ...      2   3          16  1864
699597        3      1827       4  978297757  ...      2   3          16  1864
699598        3      1789       4  978297068  ...      2   3          16  1864
699599        3      3190       4  978298147  ...      2   3          16  1864
699600        3      1505       2  978298430  ...      2   3          16  1864
699601        3      1296       4  978298147  ...      2   3          16  1864
699602        3      3302       3  978297068  ...      2   3          16  1864
699603        3       102       4  978298486  ...      2   3          16  1864
699604        3      2531       4  978297867  ...      2   3          16  1864
699605        3      1328       3  978297095  ...      2   3          16  1864
699606        3      3623       3  978298486  ...      2   3          16  1864
699607        3      1008       5  978298296  ...      2   3          16  1864
699608        3      2786       3  978298147  ...      2   3          16  1864
699609        3      1484       5  978297710  ...      2   3          16  1864
699610        3      1200       4  978297600  ...      2   3          16  1864
699611        3       633       4  978297757  ...      2   3          16  1864
699612        3      1987       5  978297600  ...      2   3          16  1864
699613        3      1450       3  978297663  ...      2   3          16  1864
699614        3      3380       2  978298201  ...      2   3          16  1864
699615        3       983       4  978297805  ...      2   3          16  1864
699616        3      1170       1  978297663  ...      2   3          16  1864
699617        3       539       4  978297837  ...      2   3          16  1864
699618        3      1175       5  978297396  ...      2   3          16  1864
699619        3       700       5  978297757  ...      2   3          16  1864
699620        3      1280       5  978297419  ...      2   3          16  1864
699621        3      1281       4  978297419  ...      2   3          16  1864
699622        3      3319       5  978298459  ...      2   3          16  1864
699623        3      1213       5  978298166  ...      2   3          16  1864
699624        3      2278       4  978297777  ...      2   3          16  1864
699625        3      2953       4  978297570  ...      2   3          16  1864
699626        3      2416       2  978297837  ...      2   3          16  1864
699627        3      3430       5  978297419  ...      2   3          16  1864
699628        3      2665       4  978297539  ...      2   3          16  1864
699629        3      1935       4  978297777  ...      2   3          16  1864
699630        3      1060       5  978298079  ...      2   3          16  1864
699631        3      1901       4  978298504  ...      2   3          16  1864

[51 rows x 10 columns]
        user_id  movie_id  rating  timestamp  ... gender age  occupation  zip
971158        4      1026       4  978293964  ...      2   5           8  141
971159        4      2489       5  978294230  ...      2   5           8  141
971160        4       254       5  978294199  ...      2   5           8  141
971161        4      1849       5  978294230  ...      2   5           8  141
971162        4      3236       5  978294008  ...      2   5           8  141
971163        4      1121       3  978293924  ...      2   5           8  141
971164        4       467       4  978294008  ...      2   5           8  141
971165        4      1107       2  978294199  ...      2   5           8  141
971166        4      1109       5  978294199  ...      2   5           8  141
971167        4      1775       5  978294282  ...      2   5           8  141
971168        4      3187       4  978294260  ...      2   5           8  141
971169        4      2744       4  978294282  ...      2   5           8  141
971170        4      1125       4  978294260  ...      2   5           8  141
971171        4       972       4  978294282  ...      2   5           8  141
971172        4      3461       4  978294260  ...      2   5           8  141
971173        4      2174       4  978294230  ...      2   5           8  141
971174        4      1289       5  978294199  ...      2   5           8  141
971175        4      3295       1  978294008  ...      2   5           8  141
971176        4      1112       5  978294230  ...      2   5           8  141
971177        4      2740       5  978294230  ...      2   5           8  141
971178        4      1149       5  978294260  ...      2   5           8  141

[21 rows x 10 columns]
        user_id  movie_id  rating  timestamp  ... gender age  occupation   zip
599570        5      3178       3  978242323  ...      2   3          21  1939
599571        5      2163       5  978241981  ...      2   3          21  1939
599572        5       859       4  978241072  ...      2   3          21  1939
599573        5      2890       2  978246576  ...      2   3          21  1939
599574        5      1575       1  978245763  ...      2   3          21  1939
...         ...       ...     ...        ...  ...    ...  ..         ...   ...
599763        5      3544       3  978241981  ...      2   3          21  1939
599764        5        34       4  978244603  ...      2   3          21  1939
599765        5       348       2  978245829  ...      2   3          21  1939
599766        5        36       3  978244808  ...      2   3          21  1939
599767        5       684       4  978244493  ...      2   3          21  1939

[198 rows x 10 columns]
        user_id  movie_id  rating  timestamp  ... gender age  occupation   zip
536422        6       854       5  978237767  ...      1   6          10  1864
536423        6      3178       5  978238230  ...      1   6          10  1864
536424        6       582       4  978237511  ...      1   6          10  1864
536425        6       971       5  978237767  ...      1   6          10  1864
536426        6      2129       3  978237034  ...      1   6          10  1864
...         ...       ...     ...        ...  ...    ...  ..         ...   ...
536488        6      1780       3  978236612  ...      1   6          10  1864
536489        6      1282       5  978237691  ...      1   6          10  1864
536490        6       556       4  978236876  ...      1   6          10  1864
536491        6      1538       4  978236567  ...      1   6          10  1864
536492        6      3329       4  978238288  ...      1   6          10  1864

[71 rows x 10 columns]
        user_id  movie_id  rating  timestamp  ... gender age  occupation  zip
949345        7      1179       4  978234581  ...      2   4           2  295
949346        7      1849       5  978234786  ...      2   4           2  295
949347        7       628       4  978234737  ...      2   4           2  295
949348        7      2709       5  978234842  ...      2   4           2  295
949349        7      3342       3  978234737  ...      2   4           2  295
949350        7      2892       3  978234898  ...      2   4           2  295
949351        7      1479       5  978234786  ...      2   4           2  295
949352        7      3033       5  978234874  ...      2   4           2  295
949353        7       107       5  978234786  ...      2   4           2  295
949354        7       576       5  978234786  ...      2   4           2  295
949355        7       429       4  978234632  ...      2   4           2  295
949356        7       467       4  978234607  ...      2   4           2  295
949357        7      2161       5  978234874  ...      2   4           2  295
949358        7      1107       5  978234632  ...      2   4           2  295
949359        7      2375       5  978234786  ...      2   4           2  295
949360        7       371       5  978234874  ...      2   4           2  295
949361        7       340       5  978234874  ...      2   4           2  295
949362        7       444       5  978234786  ...      2   4           2  295
949363        7      3187       3  978234810  ...      2   4           2  295
949364        7      1450       4  978234842  ...      2   4           2  295
949365        7       700       5  978234842  ...      2   4           2  295
949366        7      3551       3  978234737  ...      2   4           2  295
949367        7         6       4  978234842  ...      2   4           2  295
949368        7       368       3  978234810  ...      2   4           2  295
949369        7      1576       4  978234874  ...      2   4           2  295
949370        7      3511       4  978234737  ...      2   4           2  295
949371        7       806       4  978234874  ...      2   4           2  295
949372        7      1818       5  978234737  ...      2   4           2  295
949373        7      1446       4  978234874  ...      2   4           2  295
949374        7       461       5  978234842  ...      2   4           2  295
949375        7      1132       4  978234659  ...      2   4           2  295

[31 rows x 10 columns]
        user_id  movie_id  rating  timestamp  ... gender age  occupation  zip
934929        8      2890       4  978230666  ...      2   3          13  489
934930        8       514       4  978229857  ...      2   3          13  489
934931        8      1575       5  978230800  ...      2   3          13  489
934932        8      2970       4  978230852  ...      2   3          13  489
934933        8      1659       4  978231592  ...      2   3          13  489
...         ...       ...     ...        ...  ...    ...  ..         ...  ...
935063        8      1537       5  978230356  ...      2   3          13  489
935064        8      1542       5  978230649  ...      2   3          13  489
935065        8       963       4  978232203  ...      2   3          13  489
935066        8      2495       5  978229347  ...      2   3          13  489
935067        8       276       3  978231802  ...      2   3          13  489

[139 rows x 10 columns]
        user_id  movie_id  rating  timestamp  ... gender age  occupation   zip
599768        9      3178       4  978225570  ...      2   3          18  2107
599769        9      2163       4  978226054  ...      2   3          18  2107
599770        9       690       4  978225898  ...      2   3          18  2107
599771        9       514       5  978225303  ...      2   3          18  2107
599772        9      1575       5  978226248  ...      2   3          18  2107
...         ...       ...     ...        ...  ...    ...  ..         ...   ...
599869        9      1143       3  978225303  ...      2   3          18  2107
599870        9      1216       4  978225429  ...      2   3          18  2107
599871        9      3047       3  978226448  ...      2   3          18  2107
599872        9      1217       3  978226006  ...      2   3          18  2107
599873        9       415       3  978226580  ...      2   3          18  2107

[106 rows x 10 columns]
        user_id  movie_id  rating  timestamp  ... gender age  occupation   zip
536493       10       854       5  978226805  ...      1   4           2  3189
536494       10      3178       4  978225070  ...      1   4           2  3189
536495       10      2163       4  978226500  ...      1   4           2  3189
536496       10      1108       5  979167660  ...      1   4           2  3189
536497       10      1196       3  978227425  ...      1   4           2  3189
...         ...       ...     ...        ...  ...    ...  ..         ...   ...
536889       10      1863       5  978228989  ...      1   4           2  3189
536890       10      1865       3  978228575  ...      1   4           2  3189
536891       10      1866       4  978228966  ...      1   4           2  3189
536892       10      1867       4  978229459  ...      1   4           2  3189
536893       10      1869       5  978229624  ...      1   4           2  3189

[401 rows x 10 columns]
        user_id  movie_id  rating  timestamp  ... gender age  occupation  zip
699632       11      2163       1  978902350  ...      1   3           2  225
699633       11      1108       5  978903297  ...      1   3           2  225
699634       11      2600       5  978902902  ...      1   3           2  225
699635       11      2711       5  978903129  ...      1   3           2  225
699636       11      2587       4  978903186  ...      1   3           2  225
...         ...       ...     ...        ...  ...    ...  ..         ...  ...
699764       11       468       5  978221260  ...      1   3           2  225
699765       11      2345       4  978904142  ...      1   3           2  225
699766       11      1529       2  978904327  ...      1   3           2  225
699767       11      1926       3  978902560  ...      1   3           2  225
699768       11       679       1  978902586  ...      1   3           2  225

[137 rows x 10 columns]

In [14]:
train_set, test_set = gen_data_set(data, negsample)

train_model_input, train_label = gen_model_input(train_set, user_profile, SEQ_LEN)  #here equals to read data from csv directly
test_model_input, test_label = gen_model_input(test_set, user_profile, SEQ_LEN)

100%|██████████| 6040/6040 [00:10<00:00, 575.25it/s]

6 6

In [15]:
train_model_input

{'age': array([5, 3, 3, ..., 4, 3, 6]),
 'gender': array([1, 1, 2, ..., 2, 2, 2]),
 'hist_len': array([ 91, 287, 277, ...,  47, 449,  25]),
 'hist_movie_id': array([[1171, 1032, 1770, ..., 1128, 1762, 1163],
        [1048, 1937,  964, ...,  994, 1092,   47],
        [  93, 1598, 2219, ...,  167, 1196, 1834],
        ...,
        [1866, 1540, 2427, ...,    0,    0,    0],
        [1215,   21,  348, ..., 1066,  576, 1652],
        [ 175, 1706,   21, ...,    0,    0,    0]], dtype=int32),
 'movie_id': array([1159, 2721,  155, ..., 1446,  538, 2309]),
 'occupation': array([ 3,  5,  5, ...,  1,  3, 13]),
 'user_id': array([1140, 4771, 4028, ..., 5523, 3683, 2174]),
 'zip': array([2295,  227,  106, ..., 2037, 1109, 2697])}

In [16]:
!nvidia-smi

Sun Jul  4 12:59:03 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 465.27       Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   48C    P8     9W /  70W |      0MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [17]:

limit_idx = 100
for key in train_model_input:
  train_model_input[key] = train_model_input[key][:limit_idx]

In [18]:
train_model_input['hist_movie_id'][0]

array([1171, 1032, 1770, 3108, 3229,  528,  899, 2094,  861, 1141,  654,
       2722,  241, 1101,  695,  254, 2204,  849, 1109, 1158, 1117, 2937,
        288,  882,  859, 3133, 1114, 1156, 3652, 1769, 3509, 1033, 2977,
       1203, 1013, 1185,  594, 1165, 3495, 1831, 1071,  866, 1251, 3085,
        880, 2447, 2296, 1128, 1762, 1163], dtype=int32)

In [19]:
idiot = ",".join(list(map(lambda i: str(i), train_model_input['hist_movie_id'][0])))

In [20]:
tmp_hist_movie_id = []
for i in range(train_model_input['hist_movie_id'].shape[0]):
  s_hist_movie_id = ",".join(list(map(lambda i: str(i), train_model_input['hist_movie_id'][i])))
  tmp_hist_movie_id.append(s_hist_movie_id)

In [21]:
modified_train_model_input = dict(train_model_input)
modified_train_model_input['hist_movie_id'] = tmp_hist_movie_id

modified_train_model_input['label'] = [1] * len(modified_train_model_input['hist_movie_id'])

df_train = pd.DataFrame.from_dict(modified_train_model_input)

In [22]:
df_train.head()

   user_id  movie_id  ...   zip  label
0     1140      1159  ...  2295      1
1     4771      2721  ...   227      1
2     4028       155  ...   106      1
3     5534       880  ...  1077      1
4     5208       107  ...  1939      1

[5 rows x 9 columns]

In [23]:
df_train.to_csv("./part_data", sep='\t', index=False)

In [24]:
data.head()

        user_id  movie_id  rating  timestamp  ... gender age  occupation  zip
456790     6040       803       4  956703932  ...      2   3           7  467
456672     6040       580       5  956703954  ...      2   3           7  467
456732     6040      2192       4  956703954  ...      2   3           7  467
456641     6040      1782       4  956703977  ...      2   3           7  467
456842     6040      1840       5  956703977  ...      2   3           7  467

[5 rows x 10 columns]

In [25]:
import tensorflow as tf
from tensorflow import feature_column
from tensorflow.keras import layers

user_sparse_features = ["user_id", "gender", "age", "occupation", "zip", ]
user_var_len_features = ['hist_movie_id']
user_dense_features = []
def build_feature_columns(sparse_features, dense_features, var_len_features):
  #define feature colunmns here
  normal_feature_columns = []
  var_len_feature_columns = []
  all_inputs = {}

  # indicator_columns

  for col_name in sparse_features:
    categorical_column = tf.feature_column.categorical_column_with_identity(col_name, 20000, default_value=0) #fixed the value
    indicato_embedding = feature_column.embedding_column(categorical_column, dimension=16)  #fix first, later change to configurable
    normal_feature_columns.append(indicato_embedding)
    categorical_input_col = tf.keras.Input(shape=(1,), name=col_name)
    all_inputs[col_name] = categorical_input_col


  # numeric cols
  
  for col_name in dense_features:
    normal_feature_columns.append(feature_column.numeric_column(col_name))
    numeric_input_col = tf.keras.Input(shape=(1,), name=col_name)
    all_inputs[col_name] = numeric_input_col

  
  # var_len_features = []
  for col_name in var_len_features:
    seq_categorical_column = tf.feature_column.sequence_categorical_column_with_identity(
        col_name, num_buckets=20000, default_value=0) #hist_movie_id is composed of movie_id
    seq_categorical_embedding = tf.feature_column.embedding_column(seq_categorical_column, dimension=16)
    var_len_feature_columns.append(seq_categorical_embedding)
    var_len_input_col = tf.keras.Input(shape=(50,), name=col_name)  #fixed first
    all_inputs[col_name] = var_len_input_col
  return normal_feature_columns, var_len_feature_columns, all_inputs

user_normal_feature_columns, user_var_len_feature_columns, user_all_inputs = build_feature_columns(user_sparse_features, user_dense_features, user_var_len_features)

item_sparse_features = ["movie_id"]
item_var_len_features = []
item_dense_features = []
item_normal_feature_columns, item_var_len_feature_columns, item_all_inputs = build_feature_columns(item_sparse_features, item_dense_features, item_var_len_features)

In [26]:

# A utility method to create a feature column
# and to transform a batch of data
def demo(feature_column):
  feature_layer = layers.DenseFeatures(feature_column)
  print(feature_layer(example_batch).numpy())
def seq_demo(feature_column):
  feature_layer = tf.keras.experimental.SequenceFeatures(feature_column)
  sequence_input, sequence_length = feature_layer(example_batch)
  sequence_length_mask = tf.sequence_mask(sequence_length)
  print(sequence_input.numpy())

In [27]:

train_ds = tf.data.experimental.make_csv_dataset(
    './part_data', field_delim='\t',
    batch_size=4, # Artificially small to make examples easier to show.
    label_name='label',
    num_epochs=1,
    ignore_errors=True,)

In [28]:
@tf.function 
def string_to_tensor(s):
  st = tf.strings.split(s, sep=',')
  return tf.strings.to_number(st,out_type=tf.dtypes.int32).to_tensor()

In [29]:
class DNN(tf.keras.Model):
  def __init__(self):
    super().__init__()
    
    self.dense1 = tf.keras.layers.Dense(32, activation='relu')
    self.dense2 = tf.keras.layers.Dense(16, activation=None)

  @tf.function
  def __call__(self, inputs, training=False):
    x = self.dense1(inputs)
    res = self.dense2(x)
    return res

class Basic(tf.keras.Model):
  def __init__(self, user_normal_feature_columns, user_var_len_feature_columns, user_var_len_feature_keys,
               item_normal_feature_columns, item_var_len_feature_columns, item_var_len_feature_keys):
    super().__init__()
    
    self.preprocess_var_len = string_to_tensor
    self.flatten_layer = tf.keras.layers.Flatten()
    self.dense1 = tf.keras.layers.Dense(32, activation='relu')
    self.dense2 = tf.keras.layers.Dense(1, activation='sigmoid')
    self.user_normal_feature_columns = user_normal_feature_columns
    self.user_var_len_feature_columns = user_var_len_feature_columns
    self.user_var_len_feature_keys = user_var_len_feature_keys
    self.user_feature_layer = tf.keras.layers.DenseFeatures(self.user_normal_feature_columns)
    if user_var_len_feature_columns:
      self.user_val_len_feature_layer = tf.keras.experimental.SequenceFeatures(self.user_var_len_feature_columns)
    else:
      self.user_val_len_feature_layer = None
    self.item_normal_feature_columns = item_normal_feature_columns
    self.item_var_len_feature_columns = item_var_len_feature_columns
    self.item_var_len_feature_keys = item_var_len_feature_keys
    self.item_feature_layer = tf.keras.layers.DenseFeatures(self.item_normal_feature_columns)
    if item_var_len_feature_columns:
      self.item_val_len_feature_layer = tf.keras.experimental.SequenceFeatures(self.item_var_len_feature_columns)
    else:
      self.item_val_len_feature_layer = None
    self.user_model = DNN()
    self.item_model = DNN()

  @tf.function
  def __call__(self, inputs, training=False):
    user_all_features = self.process_features(inputs, feature_layer=self.user_feature_layer, val_len_feature_layer=self.user_val_len_feature_layer, 
                                              var_len_features=self.user_var_len_feature_keys,)
    user_embedding = self.get_embedding(features=user_all_features, model=self.user_model)
    item_all_features = self.process_features(inputs, feature_layer=self.item_feature_layer, val_len_feature_layer=self.item_val_len_feature_layer, 
                                              var_len_features=self.item_var_len_feature_keys,)
    item_embedding = self.get_embedding(features=item_all_features, model=self.item_model)
    user_embedding = user_embedding / tf.expand_dims(tf.sqrt(tf.reduce_sum(user_embedding ** 2, axis=-1)), axis=-1)
    item_embedding = item_embedding / tf.expand_dims(tf.sqrt(tf.reduce_sum(item_embedding ** 2, axis=-1)), axis=-1)
    res = tf.reduce_sum(user_embedding * item_embedding, axis=-1)
    # return res
    predicted_ctr = tf.math.sigmoid(res)
    return predicted_ctr
  
  def process_features(self, inputs, feature_layer, val_len_feature_layer, var_len_features):
    normal_features = feature_layer(inputs)
    var_len_inputs = {}
    for key in var_len_features:
      var_len_inputs[key] = string_to_tensor(inputs[key])
    if val_len_feature_layer:
      sequence_features, sequence_length = val_len_feature_layer(var_len_inputs)
      sequence_length_mask = tf.sequence_mask(sequence_length) 
      all_features = tf.keras.layers.concatenate([self.flatten_layer(normal_features), tf.math.reduce_mean(sequence_features, axis=1)])
    else:
      all_features = self.flatten_layer(normal_features)
    return all_features

  def get_embedding(self, features, model):
    return model(features)

  # def get_user_embedding(self, user_features):
  #   return self.user_model(user_features)
  
  # def get_item_embedding(self, item_features):
  #   return self.item_model(item_features)

In [31]:
model = Basic(user_normal_feature_columns=user_normal_feature_columns, user_var_len_feature_columns=user_var_len_feature_columns, user_var_len_feature_keys=user_var_len_features,
               item_normal_feature_columns=item_normal_feature_columns, item_var_len_feature_columns=item_var_len_feature_columns, item_var_len_feature_keys=item_var_len_features)    
model.compile(optimizer='adam',
              loss=tf.keras.losses.BinaryCrossentropy(),
              )
              # run_eagerly=True)
              # metrics=["accuracy"])
              # metrics=["accuracy"], run_eagerly=True)
model.fit(train_ds, epochs=10)

Epoch 1/10
25/25 [==============================] - 3s 18ms/step - loss: 0.5885
Epoch 2/10
25/25 [==============================] - 0s 17ms/step - loss: 0.4201
Epoch 3/10
25/25 [==============================] - 0s 17ms/step - loss: 0.3715
Epoch 4/10
25/25 [==============================] - 0s 17ms/step - loss: 0.3524
Epoch 5/10
25/25 [==============================] - 0s 15ms/step - loss: 0.3424
Epoch 6/10
25/25 [==============================] - 0s 17ms/step - loss: 0.3358
Epoch 7/10
25/25 [==============================] - 0s 17ms/step - loss: 0.3314
Epoch 8/10
25/25 [==============================] - 0s 16ms/step - loss: 0.3282
Epoch 9/10
25/25 [==============================] - 0s 17ms/step - loss: 0.3258
Epoch 10/10
25/25 [==============================] - 0s 16ms/step - loss: 0.3239